*{
    box-sizing: border-box;
}


body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    margin: 0 auto;
    background-color: #fcfcfc;
  
}

p{
    text-align: center;
}

ul{
    padding: 0;
}


h2{
    font-size: .5em;
    text-align: center;
    
}

/* nav-item transitions ---------- */
/*use this to grow a flex item on hover

/* .nav-item {
	flex-grow: 1;
  transition: flex-grow .5s;
}

.nav-item:hover {
	flex-grow: 2;
} */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-nav li, a:not([class="logo"]){
    list-style: none;
    text-decoration: none;
    text-align: center;
    line-height: 2.5em;
    font-weight: 700;
    transition: transform .3s ease-in-out .2s;
}

#main-nav li:hover{
    transform: translateY(-10px) scale(1.05);
    

}


.logo{
    margin: auto;
    
}

#banner_img-container{
    background-image: url(images/museum_background.jpg);
    background-color: #3A5546;
    background-blend-mode:soft-light;
    background-position: center;
    background-size: cover;
    height: 300px;
    margin: 0;
    transition-duration: .4s;
    transition-property: background-color;
    
}

#banner_img-container:hover {
    background-color: #5d8a71;
}

#banner_img-container figcaption {
    
    font-size: 3rem;
    color: antiquewhite;
    text-shadow: -2px 2px 2px gray;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media li{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    
}
 .social-media a{
    opacity: .6;
    transition: all .5s;
    
    
}

.social_twitter{
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
}

.social_icon a:nth-of-type(1){
    background: url(Images/twitter.svg) no-repeat;
}

.greenknite-highlights h3{
    text-align: center;
    margin: 2.5rem;
    line-height: 2rem;
}

.greenknite-highlights p{
    margin: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: .25rem;
}
.travel-highlights{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.travel-highlights figure{
    width: 100%;
}

.travel-highlights img{
    width: 100%;
    height: 200px;    
    margin-top: 1rem;
}

.travel-highlights figcaption{
    margin: 1.5rem;
    text-align: center;
}

.choose_adventure h3{
    text-align: center;
    /* line-height: 2rem; */
    /* margin: 0 auto; */
    font-size: 3rem;
    background-color: white;
    height: 5rem;
    flex: 1;
  
}

#adventure_scenario{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    background-color: white;
    flex: 1;
}
#adventure_scenario figure{
    width: 30%;
}

#adventure_scenario img{
    width: 80%;
    height: 200px; 
    /* margin: .25rem; */
    box-sizing: border-box;
    position: relative;
   
}

.img_descript{
    position: absolute;
    float: bottom;
    text-align: center;
}

.learn_more h3{
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
}

#container_learn-more{
    list-style: none;
    display: block;
    /* display: flex;
    flex-flow: column wrap; */
}

#container_learn-more figure{
    position: relative;
    
}
.learn-more_splashtext{
    float: right;
    position: absolute;
    padding: 0 2rem;
    letter-spacing: .25rem;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 0 -5px 5px grey;
    color: snow;
}

#container_learn-more img{
    width: 30%;
    
}

#map_locals img{
    width: 90%;
}

#map div{
    background-color: white;
    width: 30%;
}







